html,p{
    margin:0;
    padding:0;
    font-size:62.5%;
}
/******************top****************************************************/
.top{
    color:#29b078;
    height:40px;
    font-size: 14px;
    text-align: center;
    margin:0 auto;
}
.top p{
    line-height: 40px;
    margin: 0;
}
.top a{
    line-height: 40px;
}
/********************nav*****************************************************/
.head0{
    background-color:#29b078;
}
.navbar-default{
    background-color:#29b078;
    border:none;
}
.navbar{
    margin-bottom:0;
}
.navbar-header{
    height: 100px;
}
.navbar-toggle{
    margin-top:30px;
}
.head0 ul li{
    margin: 0 2px;
}
/*.container-fluid{
    padding:0;
    margin:0;
}*/

.navbar-default .navbar-nav > .active > a{
    background-color:#29b078;
    color:white;
    border-bottom:4px solid white;
}
.navbar-default .navbar-nav  .aaa,
.navbar-default .navbar-nav > li > a:hover{
    border-bottom:4px solid white;
    color:white;
}
/***********************footer********************************************/
.footer {
    margin-top: 15%;
   
    width: 100%;
}
.footer .link{

    background-color:white;
}
.footer .circle3{
    width:5px;
    height:5px;
    background-color:#999999;
    border-radius:50%;
    display:inline-block;
    vertical-align: middle;
}
.footer .link a{
    font-size: 1.2rem;
    color:#999999;
}
.footer .link li{
    color:#999999;
    list-style-type: none;
    padding: 0.5% 2%;
    display: inline-block;
}
.footer .footers{
    background-color:#26a26f;
}
.footer .footers p{

    padding:1rem 0;
    color:white;
    font-size:1.6rem;
}
.footer .footers span{
    display:inline-block;
    padding:1.5rem 0;
    color:white;
    font-size: 1.5rem;
}
.footer  .footers a{
    color:white;
    font-size:1.5rem;
}
.footer .down{
    margin-top: 2rem;
    border-top: 1px solid #1d7ad9;
}
.footer .down span{
    padding: 1rem 0;
    line-height: 2rem;
    }
/**********************@meadia**************************************************/
@media screen and ( min-width:768px ){
     html{
        font-size: 45%;
    }
    .container {
    width: 100%;
}
    .navbar-default .navbar-nav .aaa a{
        color:white;
    }
    .navbar-default .navbar-nav .aaa{
        background-color:#29b078;
        border-bottom:2px solid white;
    }
    .navbar-default .navbar-nav > li > a:hover{
        border-bottom:2px solid white;
        color:white;
    }
    .navbar-nav {
        float: right;
        margin: 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: white;
        padding: 38px 18px;
    }
}
@media screen and (max-width: 425px){
    html{
        font-size: 40%;
    }
    .top p{
        display:none;
    }
}
@media screen and ( max-width:767px ){
    html{
        font-size: 45%;
    }
    .navbar-default .navbar-nav .aaa a{
        color:white;
    }
    .navbar-default .navbar-nav .aaa{
        background-color:#29b078;
        border-bottom:2px solid white;
    }
    .navbar-default .navbar-nav > li > a:hover{
        border-bottom:2px solid white;
        color:white;
    }
}
