html,body,list,h2,ul, li {
    margin:0;
    padding:0;
    list-style: none;
}
html{
    font-size:62.5%;
    font-weight: normal;
    font-family: Microsoft YaHei, serif;
}
.wap{
    width:100%;
    max-width:640px;
    min-width: 320px;
    background-color: #29bde0;
    margin:0 auto;
}

.top{
  width:100%;
    max-width:640px;
    border-bottom:1px solid #74d4eb;
    margin:0;
}
.top-left{
    float:left;
    width: 10%;
    margin: 3% 0 0 3%;
}
.top-right{
    float:right;
    width: 9%;
    margin: 2% 3% 0 0;
}
.top h2{
     color:white;
     font-size: 3.4rem;
     font-weight: 500;
     letter-spacing: 0.2rem;
     padding: 3% 0;
     text-align: center;
}
.mainbody{
    position: relative;
    width:100%;
    max-width:640px;
}
.mainbody img{
    width: 68.2%;
    display: block;
    margin:2rem auto 0 auto;
}
.mainbody .text0{
    position: absolute;
    top: 12%;
    left:35%;
    color:white;
    font-size: 4.807rem;
    font-weight:bold;
    line-height: 0.245rem;
    margin:0;
}
.mainbody .text1{
    color:#ffc865;
    font-size: 3.3rem;
    font-weight:bold;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.mainbody .text2{
    color: white;
    font-size: 2.6rem;
    word-spacing:0.5rem;
    padding: 0.5rem 2px;
    width: 66%;
    margin: 0 auto;
}

.mainbody .style1{
    position: relative;
    background-color: white;
    border-bottom:0.2rem solid #dddddd;
    margin:0;
}
.mainbody .text3{
    font-size: 3rem;
    font-weight: 500;
    padding-top: 2%;
    margin-left: 15%;
    margin-top:0;
}
.mainbody .text4{
    font-size: 2.6rem;
    color:#a6a6a6;
    line-height: 1.9rem;
    margin-left: 15%;
}
.mainbody .text5{
    position: absolute;
    top:0;
    right: 10%;
    font-size: 2rem;
    color: #d6d6d6;
}
.bot{
    position: fixed;
    bottom:0;
    width:100%;
    opacity: 0.8;
    max-width:640px;
    min-width: 320px;
    background-color: #74d4eb;
}
.bot .style2{
    /* display: inline-block; */
    float:left;
    margin: 4% 0 4% 7%;
    padding: 6% 2%;
    border-radius: 0.5rem;
    color: white;
    background-color: red;
    font-size: 4rem;
    line-height: 0.336rem;
}
.bot .style3{
    float:right;
    margin: 4% 7% 4% 0;
    padding: 6% 2%;
    border-radius: 0.5rem;
    color: white;
    background-color: orange;
    font-size: 4rem;
    line-height: 0.336rem;
}
@media screen and (max-width:480px)
{
    html {
        font-size: 40%;
    }
    .wap{
        width:100%;
    }
}
@media screen and (max-width:320px)
{
    html {
        font-size: 30%;
    }
    .wap{
        width:100%;
        max-width:320px;
    }
}

