html,body,ul,li,p{
    margin:0;
    padding:0;
    /*! border:none; */
    list-style: none;
    text-decoration: none;
    color:white;
}
h1{
    clear:both;
    color:black;
    font-size: 1.8rem;
    line-height: 2.6rem;
    text-align: center;
    margin:10rem 0 3rem 0;
}
html{
    font-size: 62.5%;
}
.wrap{
   width:100%;
   margin:0 auto;
   background-color: #fafafa;
   min-width: 320px;
}
/***************************************/
.mainbody{
    width:100%;
    overflow:hidden;
    color:black;
}
.main_up{
    width:62.5%;
    padding:0;
    margin:7% auto;
   position:relative;
    height:23.4rem;
}
 .eff{
     width:20%;
     height:23.5rem;
     background:url(task7-img/技能树首页---高效2.png) no-repeat center 0;
     padding:0 2rem;
     position:absolute;
     top:0;
     left:0;

 }
 .norm{
     width:20%;
     height:23.5rem;
     background:url(task7-img/技能树首页---书籍2.png) no-repeat center 0;
     padding:0 2rem;
     position:absolute;
     top:0;
     left:25%;
 }

.con {
    width:20%;
    height:23.5rem;
    background:url(task7-img/技能树首页---人脉2.png) no-repeat center 0;
    padding:0 2rem;
    position:absolute;
    top:0;
    right:25%;
}
.inform{
    width:15%;
    height:23.5rem;
    padding:0 2rem;
    position:absolute;
    top:0;
    right:0;
}
.eff:hover,
.norm:hover,
.con:hover{
    box-shadow:1px 1px 3px #999;
}
 .eff h2, .norm h2, .con h2{
     color:black;
     font-family: Microsoft YaHei, serif;
     font-size: 1.8rem;
     text-align: center;
     margin:9rem 0 0 0;
 }
.eff p, .norm p, .con p{
    color:#999;
    font-family: Microsoft YaHei, serif;
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin:3rem 0 0 0;
    text-align:center;
}
.inform img{
    width:1.3rem;
    height:1.3rem;
    padding-top:3rem;

}
.inform span{
    color:#26a26f;
    font-size: 1.8rem;
    font-family: Microsoft YaHei, serif;
    margin:0;
}
.inform p{
    color:#999;
    font-size: 1.8rem;
    line-height: 2rem;
}
.mainbody .study{
    width:62.5%;
    height:100%;
    margin:0 auto ;
    text-align: center;
}
.mainbody .study .study-body{
   display:inline-block;
   width: 20%;
}
.study li{
    display: inline-block;
    vertical-align:middle;
    margin: 2.08% 1.45% 0 0;
}
.study .study-body img{
    max-width: 100%;
    /* height:15%; */
}
.study .type1{
    font-size: 1.4rem;
    line-height: 2rem;
    width: 30%;
    color:#999;
    display:inline-block;
}
.mainbody .show{
    width:62.5%;
    margin: 0 auto;
    overflow: hidden;
 /*   border:1px solid red;*/
    position:relative;
    height:37.3rem;
}
.show li{
    background-color:white;
    width:22.3%;
}
.show-one{
    height:36.9rem;
   /* border:1px solid red;*/
    background:url(task7-img/技能树首页---头像1.png) no-repeat center 2rem;
    padding: 0 ;
    margin-right:2rem;
    position:absolute;
    top:0;
    left:0;
    width:23.5%;
    border-radius:0.5rem;
    background-color: white;
}
.show-two{
    height:36.9rem;
   /* border:1px solid red;*/
    background:url(task7-img/技能树首页---头像2.png) no-repeat center 2rem;
    padding: 0;
    margin:0 2rem;
    position:absolute;
    top:0;
    left:23%;
    width:23.5%;
    border-radius:0.5rem;
 background-color: white;
}
.show-three{
   height:36.9rem;
/*    border:1px solid red;*/
    background:url(task7-img/技能树首页---头像3.png) no-repeat center 2rem;
    padding: 0;
    margin-left:2rem;
    position:absolute;
    top:0;
    right:26%;
    width:23.5%;
    border-radius:0.5rem;
 background-color: white;
}
.show-four{
    height:36.9rem;
   /* border:1px solid red;*/
    background:url(task7-img/技能树首页---头像4.png) no-repeat center 2rem;
    padding: 0;
    margin:0 2rem;
    position:absolute;
    top:0;
    right:-2%;
    width:23.5%;
    border-radius:0.5rem;
     background-color: white;
}
.show-one:hover,
.show-two:hover,
.show-three:hover,
.show-four:hover{
     box-shadow:1px 1px 3px #999;
}
.show h2{
    width:55.15%;
    color: black;
    font-family: Microsoft YaHei, serif;
    font-size: 1.8rem;
    text-align: center;
    padding: 17rem 0 0 0;
    margin: 0 auto;
}

.show p{
    color: #999;
    width: 79.4%;
    font-family: Microsoft YaHei, serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    margin: 6.25% auto 2.34% auto;
    text-align: center;
  /*  border: 1px solid red;*/
}
.img1{
    width:100%;
  /*  border:1px solid greenyellow;*/
    text-align: center;
}
.img1 img{
    width:3.85%;
    height:0.68%;
    margin:2rem 0;
}
.mainbody .company{

    width:62.5%;
    height:auto;
    margin:0 auto;
  /*  border:1px solid red;*/
    overflow: hidden;
    text-align: center;
}
.company li {
    width:21rem;
    height:17.8rem;
    line-height: 23.8rem;
    text-align: center;
    display:inline-block;
    background-color: white;
    margin-top:2rem;
/*    border:1px solid red;*/
}
.company img{
   width:auto;
    height:auto;
}
.company li:hover{
    box-shadow:2px 3px 4px #999;
}
.mainbody .friend{
   width:62.5%;
    height:100%;
    margin:0 auto;
  /*  border:1px solid red;*/
   /* overflow: hidden;*/
}
.friend li{
    font-size: 1.4rem;
    line-height: 3rem;
    color:#999;
    list-style: disc inside;
    float: left;
  /*  border:1px solid red;*/
    margin:0 1% 0 1.6%;
}
.friend a{
    color:#999;
}
@media screen and  (max-width:1920px)
{
    html{
        font-size:55%;

    }
    .wap
    {
        max-width:100%;
        margin:0 auto;
    }
    .mainbody .main_up,
    .mainbody .show,
    .mainbody .company,
    .mainbody .friend,
    .mainbody .study
    {
        width:75%;
    }
    .study li {
    margin: 2rem  0 0;
}
}
@media screen and (max-width:1200px)
{
    html{
        font-size:50%;
    }
    .wap
    {
        max-width:100%;
        margin:0 auto;
    }

    .mainbody .main_up,
    .mainbody .show,
    .mainbody .company,
    .mainbody .friend,
    .mainbody .study
    {
        width:100%;
    }
    .study .study-body img{
        max-width: 75%;
        /* height:15%; */
    }
}
@media screen and (max-width:840px)
{

    .mainbody .study .study-body{
        width: 45%;
    }
    .study .type1{
        width: 50%;
    }
}
@media screen and (max-width:640px)
{
    .wap{
        width:100%;
        max-width:640px;
    }

    .mainbody .main_up{
        width:100%;
        max-width:640px;
        height:48rem
    }
    .mainbody .main_up .eff{
        position: absolute;
        top:0;
        left:0;
        width:40%;
    }
    .mainbody .main_up .norm{
        width:40%;
        position:absolute;
        top:0;
        left:50%;
    }
       .mainbody .main_up .con{
        width:40%;
        position:absolute;
        top:24rem;
        left:0;
    }
       .mainbody .main_up .inform{
        width:40%;
        position:absolute;
        top:20rem;
        left:50%;
           text-align: center;
    }
    .mainbody .inform span{
        text-align: center;
    }

    .mainbody .study .study-body{
        width: 60%;
    }
    .study .type1{
        width: 50%;
    }
    .mainbody .show{
        height:78rem;
    }
    .mainbody .show-one
    {
        width: 48%;
    }
    .mainbody .show-two
    {
        width: 48%;
        left:auto;
        right:0;
    }
    .mainbody .show-three
    {
        margin:0;
        width:48%;
        top:38rem;
        left:0;

    }
    .mainbody .show-four{
        margin-right:3.5rem;
        width:48%;
        top:38rem;

    }
}




